.box {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 50px;
  max-width: 600px;
  height: 1000px;
  margin-bottom: 15px;
}

.forecast {
  color: rgb(22, 22, 183);
  text-align: center;
}

.futureIcon {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.futureForecast {
  font-size: 12px;
  color: rgb(22, 22, 183);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#display {
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  margin-top: 0;
}
.card {
  text-align: center;
  background-color: rgb(236, 250, 253);
  border: 5px teal;
  box-shadow: 0 0 10px teal;
  width: 300px;
}

.form-group {
  width: 365px;
  padding: 5px 0px 0px 0px;
}
#fahrenheit {
  color: black;
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -30px;
}
#description {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: -50px;
  color: rgb(22, 22, 183);
}
.current {
  list-style: none;
  text-align: center;
  display: inline;
  position: relative;
  top: -50px;
  font-size: 20px;
  color: rgb(22, 22, 183);
}
#current-date {
  text-align: center;
}

#current-time {
  text-align: center;
  margin-bottom: 50px;
}

#submit {
  background: rgb(13, 197, 197);
  border-radius: 20px;
  padding: 8px 12px;
  margin-left: 380px;
  position: relative;
  top: -100px;

  text-align: center;
}

#submit:hover {
  background: rgb(22, 22, 183);
  color: white;
}

#current-location {
  color: white;
  background: rgb(22, 22, 183);
  border-radius: 20px;
  padding: 8px 12px;
  margin: 0 auto;
  display: grid;
}

#current-location:hover {
  background: rgb(13, 197, 197);
  color: black;
}

#f-link {
  text-decoration: none;
  padding-left: 200px;
}

#c-link {
  text-decoration: none;
}

#divide {
  text-decoration: none;

  font-size: 25px;
}

#f-c {
  position: relative;
  top: -140px;
  right: -60px;
}

#open-source-code {
  text-decoration: none;
  color: rgb(22, 22, 183);
}

.weatherTemperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weatherTemperature .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

#weather-icon {
  width: 120px;
}
